
.fa-mobile-phone {
    color: white!important;
}
.no__button {
    width: 200px;
    height: 50px;
    background-color: #005cbf;
    color: white;
    padding: 8px 0 19px 30px;
    border-radius: 4px;
    margin-left: 565px;
    margin-top: 20px;
}
