@import url('https://fonts.googleapis.com/css?family=Raleway|Thasadith');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500');
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

p, li, input[placeholder], span, select, option, button, label {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}
h1, h2, h3, h4, h5 {
    font-family: 'Raleway', sans-serif;
}
.raised {
    box-shadow:0 5px 15px -8px rgba(0,0,0,.24),0 8px 10px -5px rgba(0,0,0,.2);
}
.card-raised {
    box-shadow:0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12),0 5px 5px -3px rgba(0,0,0,.2)
}
.fas {
    color: #005cbf;
}

.pre-header {
    min-height: 35px;
    width: 100%;
    border-bottom: 1px solid #e9eaeb;
}
.pre-header__list {
    padding: 0;
    list-style-type: none;
    display: flex;
}
.pre-header__wel {
    margin-right: auto;
    margin-top: 5px;
    margin-left: 59px;
    font-size: .9em;
}
.pre-header li:not(:last-child):not(.pre-header__wel) {
    margin-right: 39px;
    margin-top: 5px;
}
.pre-header li:last-child:not(.pre-header__wel) {
    margin-right: 49px;
    margin-top: 5px;
}
.pre-header__faq a {
    color: #1b1e21;
    font-size: .9em;
}
.pre-header__faq a:hover {
    color: #005cbf;
    text-decoration: none;
}
.pre-header__assist a  {
    color: #1b1e21;
    font-size: .9em;
}
.pre-header__assist a:hover {
    color: #005cbf;
    text-decoration: none;
}
.content-header {
    min-height: 70px;
    border-bottom: 1px solid #e9eaeb;
}
.content-header__logo a {
    margin-top: 15px;
    margin-left: 50px;
}
.content-header__search {
    height: 40px;
    width: 500px;
    margin-top: 15px;
    margin-left: 100px;
    border-color: transparent;
    background-color: #e9eaeb;
}
input[placeholder] {
    font-weight: normal;
    color: #1b1e21;
    font-size: .9em;
}
.content-header__searchbtn {
    margin-top: 15px;
    width: 93px;
    height: 40px;
    background-color: #005cbf;
    color: white;
    border: 1px solid transparent;
    font-size: 1em;
    font-weight: bold;
}
.content-header__dropdown {
    position: relative;
    display: inline-block;
    margin-top: 19px;
    margin-left: 20px;
    cursor: pointer;
    font-weight: 600;
    white-space: nowrap;
}
.fa-chevron-circle-down {
    font-weight: lighter;
    margin-left: 4px;
    margin-top: 7px;
}
.content-header__dropdown-content {
    display: none;
    min-width: 160px;
    position: absolute;
    background-color: #f9f9f9;
    padding: 12px 16px;
    z-index: 1;
    font-size: medium;
    border-top: 2px solid #005cbf;
    -webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0, 0.2);
    -moz-box-shadow: 0 8px 16px 0 rgba(0,0,0, 0.2);
    box-shadow: 0 8px 16px 0 rgba(0,0,0, 0.2);
}
.content-header__dropdown:hover .content-header__dropdown-content {
    display: block;
    cursor: pointer;
}
.content-header__dropdown-content p, a {
    color: #1b1e21;
}
.content-header__dropdown-content p, a:hover {
    color: #005cbf;
    text-decoration: none;
}
.content-header__cart  i{
    margin-top: 15px;
    margin-left: 15px;
}
.content-header__cart span {
    font-weight: 600;
}
.navbar__bg {
    background-color: #005cbf;
}
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
.fa-user-o, .fa-user-plus, .fa-check, .fa-lock, .fa-motorcycle, .fa-heart-o {
    padding-right: 10px;
}
.navbar__mobile {
    min-height: 60px;
}
.navbar__brand a {
    font-size: 40px;
    margin-left: 10px;
}
.mobile__content-header__search {
    height: 40px;
    width: 300px;
    margin-top: 15px;
    margin-left: 100px;
    border-color: transparent;
    background-color: #e9eaeb;
    position: absolute;
    right: 130px;
}
input[placeholder] {
    font-weight: normal;
    color: #1b1e21;
    font-size: .9em;
}
.mobile__content-header__searchbtn {
    margin-top: 15px;
    position: absolute;
    left: 71.1%;
    top: 76.1%;
    width: 93px;
    height: 40px;
    background-color: #005cbf;
    color: white;
    border: 1px solid transparent;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}
.navbar__category__container {
    margin-left: 90px;
    margin-top: 8px;
}
.fa-bars {
    margin-left: 60px;
    color: white;
    padding-right: 60px;
}
.navbar__dropdown {
    position: relative;
    display: inline-block;
    color: white;
    cursor: pointer;
}
.navbar__dropdown-content {
    display: none;
    min-width: 200px;
    position: absolute;
    background-color: #f9f9f9;
    padding: 12px 16px;
    z-index: 1;
    font-size: medium;
    border: 1px solid #6c757d;
    -webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0, 0.2);
    -moz-box-shadow: 0 8px 16px 0 rgba(0,0,0, 0.2);
    box-shadow: 0 8px 16px 0 rgba(0,0,0, 0.2);
}
.navbar__dropdown:hover .navbar__dropdown-content {
    display: block;
    cursor: pointer;
}
.navbar__list  li a {
    color: white!important;
}
.carousel__title {
    color: #1b1e21;
    margin-top: -250px;
    font-weight: 800;
}
.description__section {
    margin-top: 50px;
}
.description {
    border: 1px solid rgba(212, 228, 239, 0.66);
    min-height: 90px;
}
.description__section__content {
    margin-top: 12px;
}
.description__icon {
    margin-right: 24px;
    margin-top: 12px;
    font-weight: 400;
}

.description__section__content {
    transform: translate(-1px, 3px);
    white-space: nowrap;
}
.description__card-text {
    font-size: 14px;
    font-weight: 500;
}
.description__sub {
    font-size: 12px;
    font-weight: 400;
    color: rgba(0,0,0,0.5);
    margin-top: 3px;
}
.is-active {
    -webkit-animation: animate 4s 1 steps(28) forwards;
    -o-animation: animate 4s 1 steps(28) forwards;
    animation: animate 4s 1 steps(28) forwards;
}
@keyframes animate {
    0% {
        background-position: left;
    }
    50% {
        background-position: right;
    }
    100% {
        background-position: right;
    }
}
footer {
    background-color: rgba(217, 218, 214, 0.37);
}
.footer__tel{
    color: #005cbf;
}

@media (min-width: 320px) and (max-width: 480px){
    .pre-header {
        display: none;
    }
    .content-header__logo a {
        display: none;
    }
   .content-header {
       display: none;
   }
   .desktopNav {
       display: none;
   }
}
@media (min-width: 481px) and (max-width: 767px){
    .pre-header {
        display: none;
    }
    .content-header__logo a {
        display: none;
    }
    .content-header {
        display: none;
    }
    .desktopNav {
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
    .mobileNav {
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    .mobileNav {
        display: none;
    }
}
@media (min-width: 1024px) {
    .mobileNav {
        display: none;
    }
}


