@import url('https://fonts.googleapis.com/css?family=Raleway|Thasadith');
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
p, li, input[placeholder] {
    font-family: 'Thasadith', sans-serif;
    font-weight: 600;
}
h1, h2, h3, h4, h5 {
    font-family: 'Raleway', sans-serif;
}
.pre-header {
    height: 35px;
    width: 100%;
    border-bottom: 1px solid #e9eaeb;
}
.pre-header__list {
    padding: 0;
    list-style-type: none;
    display: flex;
}
.pre-header__wel {
    margin-right: auto;
    margin-top: 5px;
    margin-left: 59px;
    font-size: .9em;
}
.pre-header li:not(:last-child):not(.pre-header__wel) {
    margin-right: 39px;
    margin-top: 5px;
}
.pre-header li:last-child:not(.pre-header__wel) {
    margin-right: 49px;
    margin-top: 5px;
}
.pre-header__faq a {
    color: #1b1e21;
    font-size: .9em;
}
.pre-header__faq a:hover {
    color: #005cbf;
    text-decoration: none;
}
.pre-header__assist a  {
    color: #1b1e21;
    font-size: .9em;
}
.pre-header__assist a:hover {
    color: #005cbf;
    text-decoration: none;
}
.content-header {
    min-height: 70px;
    border-bottom: 1px solid #e9eaeb;
}
.content-header__logo {
    margin-top: 15px;
    margin-left: 50px;
}
.content-header__search {
    height: 40px;
    width: 500px;
    margin-top: 15px;
    margin-left: 100px;
    border-color: transparent;
    background-color: #e9eaeb;
}
input[placeholder] {
    font-weight: lighter;
    color: #1b1e21;
    font-size: .9em;
}
.content-header__searchbtn {
    margin-top: 15px;
    width: 93px;
    height: 40px;
    background-color: #005cbf;
    color: white;
    border: 1px solid transparent;
    font-size: 1em;
    font-weight: bold;
}

@media (min-width: 320px) and (max-width: 480px){

}
@media (min-width: 481px) and (max-width: 767px){

}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){

}
@media (min-width: 768px) and (max-width: 1024px){

}


