.shopping-cart {
    width: 850px;
    min-height: 550px;
    margin: 80px auto;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}
.title {
    height: 60px;
    padding: 20px 30px;
    color: #5e6977;
    font-size: 18px;
    font-weight: 400;
}
.items {
    padding: 20px 30px;
    min-height: 120px;
    display: flex;
}
.items:nth-child(3) {
    border-bottom: 1px solid #e1e8ee;
    border-top: 1px solid #e1e8ee;
}
.buttons {
    position: relative;
    margin-top: 30px;
    margin-right: 60px;
}
.delete-btn, .like-btn {
    display: inline-block;
    cursor: pointer;
}
.delete-btn {
    position: absolute;
    top: 20px;
    left: 0;
    width: 18px;
    height: 17px;
    background: url("../img/delete-icn.svg")no-repeat center;
}
.like-btn {
    position: absolute;
    top: 9px;
    left: 15px;
    width: 60px;
    height: 60px;
    background: url("../img/twitter-heart.png") no-repeat;
    background-size: 2900%;
}
.is-active {
    -webkit-animation: animate 4s 1 steps(28) forwards;
    -o-animation: animate 4s 1 steps(28) forwards;
    animation: animate 4s 1 steps(28) forwards;
}
@keyframes animate {
    0% {
        background-position: left;
    }
    50% {
        background-position: right;
    }
    100% {
        background-position: right;
    }
}
.image {
    margin-right: 50px;
}
.cart__description {
    padding-top: 10px;
    margin-right: 60px;
    width: 115px;
}
.cart__description span {
    display: block;
    font-size: 14px;
    color: #43484d;
    font-weight: 400;
}
.cart__description span:first-child {
    margin-bottom: 5px;
}
.cart__description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939e;
}
.quantity {
    padding-top: 20px;
    margin-right: 60px;
}
.quantity input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484d;
    font-weight: 300;
}
button[class*=btn] {
    width: 30px;
    height: 30px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
.plus-btn {
    margin-bottom: 3px;
}
.minus-btn {
    margin-top: 2px;
}
button:focus, input:focus {
    outline: 0;
}
.total-price {
    width: 83px;
    padding-top: 27px;
    text-align: center;
    font-size: 16px;
    color: #43484d;
    font-weight: 300;
}
@media (max-width: 800px) {
    .shopping-cart {
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    .items {
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    .image img {
        width: 50%;
    }
    .image, .quantity,.cart__description {
        width: 100%;
        text-align: center;
        margin: 6px 0;
    }
    .buttons {
        margin-right: 20px;
    }
}
